doctype html
html
  head
    title Chat
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/chat.js')
  body
    h1 Chat
    div(class='chat_body')  
    form(method='POST' action='/chat')
      div 
        ul
          each message in Message_list
            li=message.content
      input(type='text' placeholder='say something...' name='message' required='true' )
      button(type='submit' class='send_button') send
        
    a(href='/logout') Log out