doctype html
html
  head
    title Chat Room
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 Welcome to Chat Room!
    div
      a(href='/login') Login
    div
      a(href='/sign_up') Sign up